[2019-05-09 07:37] michielbdejong opened #1 "How do you handle append-only patches?"

[2019-05-09 07:38] michielbdejong opened #2 "Credentials includes both webId and Origin, right?"

[2019-05-09 07:38] michielbdejong opened #3 "What does 'representation <- patch' mean?"

[2019-05-09 07:38] michielbdejong opened #4 "Does the ResourceStore understand conneg?"

[2019-05-09 07:39] michielbdejong commented on #4
Wondering how `getRepresentation(ResourceIdentifier) : Promise<Representation>` works, whether that only returns the original representation or can also convert between different RDF representations.

[2019-05-09 07:51] michielbdejong opened #5 "Is Operation.requiredPermissions an odd-one-out?"
So I understand an Operation object represents the processing of one specific http request (for each http request that hits the server, one Operation object is created by the OperationFactory, and it's executed making use of the Authorizer and the ResourceStore.

So I understand why the OperationFactory uses the method, target and representation from the http request to determine what type of oper

[2019-05-09 07:54] michielbdejong opened #6 "Is this architecture compatible with Trellis?"
If we compare this architecture with https://github.com/trellis-ldp/trellis/wiki/Trellis-Architecture, are they the same?

CC @acoburn @pmcb55

[2019-05-09 08:12] michielbdejong opened #7 "Is this architecture compatible with inrupt's pod-server?"
If we compare this architecture with https://github.com/inrupt/wac-ldp#code-structure, are they the same?

Short answer: No, there are two big differences, and a number of tiny ones around naming etc.

Of course, the first question I ask from where I'm sitting, is how can we use this to make https://github.com/inrupt/pod-server and specifically https://github.com/inrupt/wac-ldp better.

## 1) http

[2019-05-09 08:16] RubenVerborgh commented on #1
That is currently not visualized in the main diagram; the complexities of `PATCH` probably deserve giving it a drawing of its own in the document.

I'll sketch the story I have in mind below, but variations are of course possible.

Background: how patches are applied, depends on the backend. For instance, in a file-based back-end and assuming Turtle, an append-only patch could be implemented by ap

[2019-05-09 08:20] RubenVerborgh commented on #2
Yes, or even more actually. For instance, it could be beneficial to add the mode of authentication to the credentials: some very sensitive resources might require two-factor authentication.

I see Credentials as an object that can and likely will evolve; and the good thing is that there is only one touch point, namely `Authorizer`. So if `Credentials` changes, only the `Authorizer` will need to be

[2019-05-09 08:28] RubenVerborgh commented on #3
It means that `Patch` is a subclass of `Representation`.

I'm using standard UML notation, where a solid line with an unfilled arrowhead represents inheritance (cfr. https://www.uml-diagrams.org/inherited-property.html).

[2019-05-09 08:28] #3 closed, assigned to RubenVerborgh

[2019-05-09 08:34] RubenVerborgh commented on #4
I'm inclined to say it does not. Not pictured on the diagram yet is a `ResponseGenerator`, that takes a raw `Representation` pointer and then serializes it using a lit of serializers (cfr. #1).

However, there is a case to be made for a `ResourceStore` that does (limited!) content negotiation. For instance, when we have multiple on-disk representations `a.ttl`, `a.jsonld`, `a.nt`, we might want to

[2019-05-09 08:47] RubenVerborgh commented on #5
The required permission depend on the `Operation`. A quick note for clarity maybe: although `requiredPermissions` is modeled as a field in the UML diagram, the responsibility for setting the value of this field is with the individual `Operation`, not with the `OperationFactory`.

An implementation of this idea can be seen here:
- To do a `PUT` operation, the agent unconditionally needs `Write` per

[2019-05-09 08:48] RubenVerborgh commented on #6
Trellis can be a concrete implementation of the `ResourceStore` interface.

[2019-05-09 09:05] RubenVerborgh commented on #7
To facilitate comparison, we should probably try to get the diagrams in a similar form to the extent possible. Especially the packaging and interfacing are crucial I think for the right understanding. I definitely do not want to drag you into a redrawing agony 🙂, but the reason I chose formal UML is that I wanted to highlight a bunch of important aspect (inheritance, composition, dependencies) for

[2019-05-09 10:26] RubenVerborgh commented on #4
Further context in https://github.com/inrupt/wac-ldp/issues/78#issuecomment-490848093.

[2019-05-09 10:50] pmcb55 commented on #6
Yep, absolutely (re. Ruben's comment above). Further to that, I think I'd also simplify some of the interface method names, but I'll raise a separate issue for that.

[2019-05-09 10:53] michielbdejong commented on #6
OK, so in that vision, the answer to #4 would be yes...

So maybe the word 'ResourceStore' can mean different things, depending on the context?

[2019-05-09 10:55] pmcb55 opened #8 "Naming change suggestions"
Just as suggestions, but maybe use 'Iri' instead of ResourceIdentifier?

Also I really like the simplicity of the Trellis interface described here: https://github.com/trellis-ldp/trellis/wiki/Trellis-Architecture.

So I'd suggest the ResourceStore interface use 'get()' instead of 'getRepresentation()', and 'replace()' instead of 'addResource()', 'modifyResource()' and 'deleteResource()').

[2019-05-09 10:58] michielbdejong commented on #4
Let's try to come up with a single answer to this question and stick to it, otherwise the word 'ResourceStore'  just becomes like a magic 'Cloud' icon in our diagrams (I think it already is a little bit, comparing your wording to @pmcb55's "LDP+LDN all the way down" concept?).

[2019-05-09 11:02] michielbdejong commented on #5
How does LdpHandler know that it does not need to check permissions for an OPTIONS request?

[2019-05-09 11:07] michielbdejong commented on #5
And how does the glob-read Operation trigger access checks for individual resources, after it has retrieved the folder listing?

And what if you have append access to a folder, but you use that to create a document for which you don't have write access? (normally this situation would only occur in a hash-collision, but I think through the `slug` header you can request which file name should be cre

[2019-05-09 11:08] #2 closed, assigned to RubenVerborgh

[2019-05-09 11:09] #1 closed, assigned to RubenVerborgh

[2019-05-09 11:11] pmcb55 commented on #5
It doesn't. The OPTIONS operation knows it needs 'PermissionSet.READ_ONLY' permission, since that's what the default implementation of 'get requiredPermissions()' in the abstract 'LdpOperation' base class returns.

[2019-05-09 11:14] pmcb55 commented on #5
Globbing will be deprecated! (But for for now, the server just iterates on the contained resources performing the incoming 'operation' for each - I don't see any issue there)

[2019-05-09 11:15] pmcb55 commented on #5
I don't understand that. The Slug header is always just a hint, always.

[2019-05-09 11:25] pmcb55 opened #9 "Should my code be able to access HTTP headers, cookies, query params?"
The constructor for LdpOperation takes 'constructor({ store, target, body, parsedBody })', so should executed code never have access to HTTP headers (like 'Accept-Language' for instance), or cookies, or query params that may also have been part of an incoming HTTP request?

[2019-05-09 11:31] pmcb55 commented on #4
I'm also inclined to say it does NOT. In my mind, Ruben's example of multiple on-disk representations, i.e.:

... would be 3 separate, independent resources (linked together to represent 'the one **_thing_**' via the meta-data associated with each one). But that's a broader discussion I think.

[2019-05-09 12:19] michielbdejong commented on #4
Correction, actually my question was not whether it understands conneg (as a http-level thing), but whether it understands RDF and its various representations.

[2019-05-09 13:59] acoburn commented on #6
There are a lot of similarities between this architecture and the Trellis architecture; in fact, I'd say they are almost identical. They both separate the LDP layer from the resource persistence (storage) layer. In Trellis, the `ResourceStore` interface is called `ResourceService`. The `LdpHandler` is called `TrellisHttpResource`. Similarly, the HTTP runtime is separate as are Authorization and Au

[2019-05-09 14:01] michielbdejong commented on #6
Makes sense to me too, @RubenVerborgh is that a change you would be willing to make?

[2019-05-09 15:01] acoburn commented on #6
A side note, when I write:

I mean that the storage _interface_ deals with Triples and Graphs. Clearly, the backend requires some sort of representation, since the bits need to make it to storage somehow, but those representations don't necessarily need to be concrete RDF serializations. This way, the storage layer has flexibility to do whatever it needs to do with the bits, so long as those bits

[2019-05-09 15:54] RubenVerborgh commented on #6
Not for me at least. The `ResouceStore` in my architecture is an interface that gives access to resources and their representations (those latter two terms used in their HTTP/REST definition).

I think they are two different abstraction levels actually. Trellis seems to be closer to what I would consider one (type of) implementation of the `ResourceStore` interface; it makes assumptions on how the

[2019-05-09 16:08] RubenVerborgh commented on #4
There is no need for a single answer IMHO, in the sense that my answer is “the store _can_ do forms of conneg if it wants to”. It doesn't preclude conneg on the response level, where the same `TranscodingStore` can be used (https://github.com/inrupt/wac-ldp/issues/78#issuecomment-490848093, I regret splitting this discussion in two).

It's not, it's very clear to me: a `ResourceStore` gives you re

[2019-05-09 16:12] RubenVerborgh commented on #8
The idea is that `ResourceIdentifier` can have both a public component (IRI) as well as a local component (file path). No very strong opinion though, but yes, an IRI is one kind of `ResourceIdentifier`.

I do too, except when it comes to the performance of small append patches to a large document 🙂 (cfr. https://github.com/RubenVerborgh/solid-server-architecture/issues/6#issuecomment-490961867)

H

[2019-05-09 16:18] RubenVerborgh commented on #5
+1

That's a good point. Multiple possible answers:
1. This could be where the current abstraction breaks, and the operation would need to return a map of resources and required permissions instead.
2. `target` could be a glob, and the permissions checker knows about it.
3. Globbing is not part of LDP, so it could be a different handler altogether (that makes use of some of the same building block

[2019-05-09 16:21] RubenVerborgh commented on #9
Just want to mention that this implementation is draft/inspirational, so signatures are not necessarily complete. (Left an ellipsis on the architectural diagram for that very reason, you got me 😄)

It's up to the parser to break down the request into a parsed object; `Operations` should not depend on HTTP syntax in any way. Especially content preferences (in multiple dimensions) should be part of

[2019-05-09 21:25] RubenVerborgh commented on #4
Added `RepresentationPreferences` to the diagram (https://github.com/RubenVerborgh/solid-server-architecture/commit/5468445f7671d2db6ce4263a314b4e6196c32e88).
Can detail all of the above in a zoomed in diagram if needed.

[2019-05-09 22:21] pmcb55 opened #10 "Can you clarify the use of both 'Resource' and 'Representation' in the ResourceStore interface?"
The methods of the ResourceStore interface use both 'Resource' and 'Representation', yet there is no interface for 'Resource', but there is for a Representation (https://github.com/RubenVerborgh/solid-server-ts/blob/master/src/ldp/Representation.ts).

I think at least 'addResource()' should be renamed to 'addRepresentation()' to be consistent, but in fact I think the interface would be simpler if

[2019-05-10 16:06] RubenVerborgh commented on #10
TL;DR: In the REST architectural style, **resources** are manipulated (only) through **representations**; I believe we need to adhere to this throughout.

That is correct; "representing" a Resource would kind of be a contradiction in terms.
Resources are identified, but manifest themselves concretely as representations.
So a Resource in that sense is nothing but a set of representations; and I now

[2019-05-10 16:13] RubenVerborgh opened #11 "How doe the proposed architecture relate to the concept of an Auth proxy?"
A suggestion by @kjetilk was to design the architecture such that blocks of it can be used independently. One concrete idea was that Auth could be a layer on the HTTP level that can be transparently inserted in between. This would allow us to insert an Auth layer transparently, or even having it run on a different server.

In this issue, let's discuss about the relation of the proposed architectur

[2019-05-10 19:03] RubenVerborgh commented on #11
### Background

Let's first detail the concept of an auth server. It would be an HTTP server, so an independent module that takes an HTTP request as input and returns an HTTP response as output. Internally, it would perform authorization and (basic) authentication, and act as a proxy server that then forwards authenticated requests. (Side-note: the current NSS can be configured to act as such as s

[2019-05-10 23:46] kjetilk commented on #11
Right, but now you are tying yourself to what is available in Node/Express/NSS or something. From what I can tell, the Express HTTP handler is (intended to be?) a finite state machine, where indeed HttpRequest plays the role of a God object. That's their choice, but the argument cannot be generalized, surely, there has to exist frameworks where this is not the case, also frameworks where FSM is us

[2019-05-11 11:21] RubenVerborgh commented on #11
I'm afraid we'll need to rewind because I neglected to make clear that my definition of “HTTP handler” is Node-independent.

Definitely not: I intended “HTTP handler” generically as “a function that takes an HttpRequest and HttpResponse as parameters”. So an Express handler fits that definition, but any HTTP server or HTTP proxy also fit that definition. So an Auth proxy, even if a full-fledged HT

[2019-05-11 22:10] kjetilk commented on #11
Hmmmm, OK!

Yeah, I can go with that. It is an exercise possibly worth doing: To see what variables would need to be passed in each state transition.

OK, good! :-)

but maybe I should sharpen my points to make sure that we are discussing about the right things:

Ah, so, the fundamental difference is the slippery slope you were arguing: That you'd happily shovel any variable you might need onto th

[2019-05-12 08:38] pmcb55 commented on #11
Lots of great discussion in here, but I'd like to focus on just one point for now, Ruben's first big assertion:

Firstly, I'd actually advocate abstracting *above* even HTTP, i.e. each '_function takes a Request and Response as parameters_'. Secondly, they aren't only 'chained together in a waterfall-sytle', they are composed into recognized industry design patterns, i.e. Enterprise Integration Pa

[2019-05-12 09:27] pmcb55 commented on #10
I really like the idea of sticking to the formal terminology from REST (even though it's 'just' a PhD thesis, and not a normative standard or anything). And you're absolutely right about us needing to be very precise in our distinctions, and I also agree that Resource and Representation are indeed distinct things.

So from a Solid perspective, built on LDP, can we capture this distinction by forma

[2019-05-12 13:41] RubenVerborgh commented on #10
Thanks a lot, @pmcb55. First of all, these discussions prove that we are on the right track; the fact that these questions and points are being raised shows that we are thinking about the important things.

I'll try to be as brief as possible below. Let me first get to the meat, and then go into details.

Non-information resources never have an associated set of representations.
Information resour

[2019-05-12 19:59] RubenVerborgh commented on #4
This discussion continues in depth in #10.

[2019-05-12 19:59] #4 closed, assigned to RubenVerborgh

[2019-05-12 20:12] RubenVerborgh commented on #11
Getting there!

I find that a strong assumption 😉

Because conceptually, the variables will turn up as HTTP headers.

And if this is just for one layer, well fine, that won't hurt. Just like one extra property on `HttpRequest` also wouldn't hurt.
The (actual, not rhetorical) question is where we draw the line. Why Auth as a proxy, but not something else?

Understood; the proxy is then a bit more c

[2019-05-12 20:23] RubenVerborgh commented on #11
@pmcb55

I'm not opposed, and @michielbdejong has suggested HTTP-independence in the past.

To this point, I want to note that only very few components in my proposed architecture are tied to HTTP (and happy to abstract them even further, although I'd suggest for v2.0 though).

Not disagreeing, but we are _not_ building a highly flexible system here. Solid is different from other architectures in

[2019-05-12 22:15] pmcb55 commented on #10
Cheers Ruben - lot's to pick apart in there, but maybe just a quick one (as I thought I was on safe ground here :) !):

Yep, I did mean 'either'. I prefixed my question with 'from a Solid perspective, **_built on LDP_**' - as I thought POSTing a resource to an LDP server **_required_** it to be either an RDF Source, or a Non-RDF Source - i.e. it can't be both (as you seem to be suggesting here). A

[2019-05-13 10:19] kjetilk commented on #10
This is a very interesting thread, and I support @RubenVerborgh 's suggested API. There have been a couple of things that I have raised an eyebrow over, but I believe them to be well discussed. I'll add just one point that could help with concerns over conflicting representations.

The problem of the existence of several representations of a single resource has been bothering me for over a decade,

[2019-05-13 10:52] kjetilk commented on #11
They would...? I was going to add them to the JWT :-)

I see your point, but whatever goes in there would be subject for the Solid spec, as my goal is interoperability, so that you can take any Auth* proxy and set it in front of whatever you have in the back.

Well, you can of course just have the ACL cache in the server too. I think the ACL cache is absolutely crucial however you do it, we're run

[2019-05-13 20:13] pjworrall commented on #10
hi
My understanding has always been RDF Resources are the deferencable objects that can be represented by different serializations. Using the http header media-type to specify the required serialization I thought was the standard way to do that.

I wasn't sure whether the scope of this thread was the API or the implementation. The storage is out of scope if this is just defining the API other than

[2019-05-15 11:54] pmcb55 opened #12 "Context and hypermedia in all Solid responses?"
For some reason I only stumbled across this fantastic blog post from Ruben last night (written nearly 4 years ago): https://ruben.verborgh.org/blog/2015/10/06/turtles-all-the-way-down/

I totally agree with the entire premise (in fact, I personally think the embedded meta-data in responses could be very much richer than Ruben suggests here).

But my question is, how can we incorporate these ideas

[2019-05-15 12:13] RubenVerborgh commented on #12
I am still very much in favor of this idea/approach, and it works very well with API modularity (cfr. https://ruben.verborgh.org/articles/web-api-ecosystem/#principle-advertise). I've always considered the RDF document with metadata graph as the equivalent of an HTML page with navigation/sidebars: there is the main content section, and the template that is slapped around it.

However, I have discu

[2019-05-15 12:30] pmcb55 commented on #12
Funny you should say:

I was literally just about to edit the issue to include saying 'depending on the Content-Type of the request'! So yeah, I definitely agree that's one approach (and the profile-based headers are another).

But my feeling is that the core codebase needs (internally) to enforce quads everywhere to support this notion - would you agree?

[2019-05-15 12:31] RubenVerborgh commented on #12
Yes; and this brings us also to the notion of that Messsage layer above HTTP. What if that Message layer is really a quad graph 🤯

[2019-05-15 12:56] pmcb55 commented on #12
Yep, I didn't want to ask two questions in comment, but that was exactly my next point - i.e. what if the 'user' wants to store and retrieve quads, not just triples, 'cos they have their own business-level semantic they want to apply to the named-graph component of their quads? (I actually brought up this point back at the Solid workshop in Dublin over a year ago!)

Can standardizing on specific I

[2019-05-15 13:02] acoburn commented on #12
This is fascinating. Using content negotiation would be an incredibly easy way to extend the basic LDP response without conflicting with ordinary LDP interactions. It would also be interesting to see how this feature (TriG and N-Quads) would interact with Prefer headers, which is an existing LDP mechanism for manipulating which data to include in the HTTP response.

[2019-06-04 19:44] namedgraph commented on #12
You can always turn HTTP request to RDF on the fly, no need to change the specs for that: https://www.w3.org/TR/HTTP-in-RDF10/

[2019-06-04 19:49] namedgraph commented on #12
Regarding quad semantics, allow me to bring this up again: [A denotational semantics for CRUD operations on RDF datasets](https://gist.github.com/namedgraph/64ef07b0a3a66092cfdcbf65eefbf00f)

[2019-07-02 23:03] RubenVerborgh commented on #4
See 159d374704ecbb4bb34d3b8cc82e38aa2b98a954.

[2019-07-02 23:04] RubenVerborgh commented on #10
Explained now at length by c7e884190c1d6d71910b20cc36b84ad58bfb9984.

[2019-07-02 23:04] #10 closed, assigned to RubenVerborgh

[2019-07-02 23:07] RubenVerborgh commented on #7
Will be handled by @acoburn.

[2019-07-02 23:07] #7 closed, assigned to RubenVerborgh

[2019-07-02 23:07] #5 closed, assigned to RubenVerborgh

[2019-07-02 23:08] #9 closed, assigned to RubenVerborgh

[2019-07-02 23:08] RubenVerborgh commented on #8
Trellis is now visible in 3c3cd23bd3ef9da48e5272a8dbeb8a28ff029d04.

[2019-07-02 23:08] #8 closed, assigned to RubenVerborgh

[2019-07-02 23:08] RubenVerborgh commented on #6
Comparing in 3c3cd23bd3ef9da48e5272a8dbeb8a28ff029d04.

[2019-07-02 23:08] #6 closed, assigned to nobody

[2019-07-02 23:10] RubenVerborgh commented on #11
We can / might want to draw a diagram that shows how an AuthProxy can be realized using existing components.

I think that the proxy approach is more of a packaging/deployment diagram matter than it is a class diagram matter; classes will likely be very similar.

[2019-07-02 23:10] #11 closed, assigned to RubenVerborgh

[2019-07-02 23:11] RubenVerborgh commented on #12
Major fan of hypermedia, always have been, but there is probably no consequence to the currently displayed parts of the UML diagram.

[2019-07-02 23:11] #12 closed, assigned to nobody

[2019-07-31 12:32] RubenVerborgh opened #13 "Classes to interfaces"
@acoburn Could you clarify which classes should become interfaces in https://rubenverborgh.github.io/solid-server-architecture/solid-architecture-v1-1-0.pdf?

[2019-08-01 12:40] acoburn commented on #13
In this diagram, I am quite pleased with how the interfaces are defined. That is, I do not have any suggestions for changes here.

[2019-08-01 12:40] #13 closed, assigned to nobody

[2019-08-09 10:32] michielbdejong opened #14 "Consider removing OperationFactory"
It's not clear how the `LdpHandler` would know which `Operation`s to create when given an `OperationFactory`, so why not just create the `Operation`s before you create the `LdpHandler`, and then pass an `Array` of those already instantiated `Operation`s to it instead?

[2019-08-09 10:43] michielbdejong opened #15 "Consider merging TargetExtractor/ResourceIdentifier and PreferenceParser/RepresentationPreferences into one RequestParser/Task object"
There are several parameters that describe a task, and in HTTP, those are usually structured as URI + verb + headers, but you probably don't want to couple to that too tightly.

Some parts of the task description are relevant for the Authorizer, others for the Operation, others potentially for the ResponseWriter. So in order to avoid a kitchen sink object, I like how CredentialsExtractor is separa

[2019-08-09 10:45] RubenVerborgh commented on #14
That's actually the point of the `OperationFactory`. The `LdpHandler` does _not_ know which `Operation` to create; it delegates that knowledge to the `OperationFactory`. That way, `LdpHandler` only needs the handling logic that is common between all operations. The idea is separation of concerns.

You can see that idea in action here (slightly different naming):

- https://github.com/RubenVerborgh

[2019-08-09 10:47] michielbdejong opened #16 "More detail about how ResourceStore deals with LDP-BC / LDP-RS / LDP-NR"
The resource store knows about both LDP-RS and LDP-NR, but it will need to treat them differently. How does that work if you would build a Solid pod server with this architecture in practice? Would you use a triple store + a binary store? And in which one of those two would containment triples live?

[2019-08-09 10:54] michielbdejong opened #17 "Consider removing BodyParser"
The BodyParser is used in case the body of a http request represents the operation rather than the resource. However, the knowledge of how to execute a Patch task resides in a specific type of ResourceStore, so parsing it in the first step, then passing it through the Operation and to that ResourceStore instance as a parsed object requires coordination between the first parsing step and the specif

[2019-08-09 11:00] michielbdejong opened #18 "RDF-aware ResourceStore could probably expose `DataSet.match` to AclBasedAuthorizer"
The interface of TripleStore on page 4 seems very narrow. In particular, indexing quads and performing queries over them (`DataSet.match` in rdf.js) would probably have to be implemented a second time inside AclBasedAuthorizer?

[2019-08-09 11:14] michielbdejong opened #19 "Representation super-class feels a bit esoteric"
I can see how the use of `Representation` works well as an ode to REST, but I think in this diagram it doesn't necessarily add much. It's used in three ways that don't necessarily have much in common apart from the fact that they 'represent' something:
* BufferStream
* QuadStream
* Patch

A Representation has a ResourceIdentifier, yet the methods ResourceStore#setRepresentation etc. also have thei

[2019-08-09 11:18] RubenVerborgh commented on #15
Couple of points here:

- Reducing the number of arguments to an `Operation` is not a goal in itself (although some consequences of this might be desired).
- An `Operation` is created by an `OperationFactory`, which encapsulates the parameters that an `Operation` should receive. (Yet of course, that factory method also needs parameters; it's just that those are decoupled.)
- However, and most impo

[2019-08-09 11:18] michielbdejong opened #20 "implicit exact mapping between http verbs and operations, or not?"
The names GetOperation, PostOperation, etc. imply that there would be one operation per http verb (and then maybe HeadOperation and GetOperation would reuse common code between them, and same for PostOperation and PutOperation?).

If it's really meant to be one operation per http verb then a note about that would make that more explicit.

If not, then for instance PostOperation is not a really goo

[2019-08-09 11:24] RubenVerborgh commented on #16
This statement is not correct as written.

`ResourceStore` is an interface, and that interface does _not_ expect implementations to know about LDP-RS or LDP-NR, as you can see from the method signature. It just knows about resources and representations.

_Some_ implementations might want to make that distinction, but not all of them.

There will be specific implementations of `ResourceStore`, as d

[2019-08-09 11:35] RubenVerborgh commented on #17
Note that there is no such thing as _the_ `BodyParser`. Rather, this is a base class of which different specific implementations will exist. Such as `SparqlUpdateParser`, `LineBasedPatchParser`, etc. You can see that mechanism here: https://github.com/RubenVerborgh/solid-server-ts/blob/a93717ec02389ba10c79975fc2bbdbe8d18336f0/src/http/RequestBodyParser.ts / https://github.com/RubenVerborgh/solid-s

[2019-08-09 11:40] RubenVerborgh commented on #18
Indeed; only methods relevant to LDP are shown.
It is expected that `TripleStore` implements more interfaces, which can be useful for queries. But they don't matter at this point.

At the first level, yes. But this is on purpose, since `AclBasedAuthorizer` needs to work with `ResourceStore` in general, so also file-based systems like `FileSystemStore` that do not have native query interfaces.

At

[2019-08-09 12:02] RubenVerborgh commented on #19
Nah, I don't really do odes or serenades; I use abstractions when they are meaningful.

You're right; it doesn't _add_, it _removes_.

The `Representation` abstraction was introduced because I deemed it beneficial for some components to _not_ know whether something is binary, triples, or even something else. In this case, we don't want `LdpHandler` to know more about the representations it is hand

[2019-08-09 12:07] RubenVerborgh commented on #20
Yeah, that's not a crucial decision. The `OperationFactory` shields `LdpHandler` from the request-to-operation mapping, so it can be anything that fits.

I think it is meaningful to keep a close relation to the LDP specification, so `PostOperation` (or perhaps even `LdpPostOperation`) keeps a close relation to what is intended there, whereas `CreateOperation` is an _interpretation_ of what LDP `PO

[2019-08-09 12:16] RubenVerborgh commented on #19
Ah wait, there _is_ a reason that `Patch` extends the more generic `Representation`. Namely, `LdpHandler` does not know about patches! It only knows that it asking a parser to have a look at the request body (which is a representation), not that it is a patch.

So if we want to keep knowledge about specific methods outside of `LdpHandler` (and we do), then we should not tell it about `Patch`.

[2019-08-09 14:44] acoburn commented on #20
With Trellis, I also separate the HTTP operations into per-method classes (`PostHandler`, `GetHandler`, etc). I have seen other LDP implementations that combine them all together, and the code just gets really, really complex -- it's not wrong, but it's harder to maintain. And separating the methods by conceptual operation (create, update, read) also gets a little messy, because `PUT` may be used

[2019-08-09 14:55] acoburn commented on #17
Just worth noting that there are various types of `PATCH` operations that may, by some implementations, be supported. For example, we can expect that the Solid spec will require support for `SPARQL-Update`, but an implementation _could_ decide to also support other mechanisms, such as [LDPatch](https://www.w3.org/TR/ldpatch/). Having a parser layer that produces a _particular_ object type (e.g. `L

[2019-08-10 08:12] RubenVerborgh commented on #18
There's an additional solution path: `ResourceStore` enables a decorator pattern such that `RepresentationConvertingStore` can be put in front of another `ResourceStore` and then to arbitrary conversions.

This was intended for forward conversion as follows. Given a source that only supports raw triple streams, and a request for JSON-LD, then a `RepresentationConvertingStore` would make a request

[2019-08-11 12:40] RubenVerborgh commented on #15
Another angle at this is the ability to reuse components in different configurations.

"Solid server" is not the only runtime configuration that these components can be instantiated to. For instance, let's take the auth proxy notion discussed by @kjetilk: with this architecture, that is just a different configuration of components. So it would be an HTTP layer that uses `ResourceIdentifier` and `C

[2019-08-12 11:02] michielbdejong commented on #20
good point!

[2019-08-13 07:44] michielbdejong opened #21 "Support for conditional requests"
As discussed, we need a way to ensure that depending code has a way to do a sequence of  ResourceStore#getRepresentation + ResourceStore#setRepresentation without the underlying resource having changed in the meantime. There are two ways to do this:

### getResourceTransaction
The way this would work is:
[code]

### ResourceLocker
As described in https://rubenverborgh.github.io/solid-server-archit

[2019-08-13 07:55] RubenVerborgh commented on #21
To be precise, we need a way to ensure that we can support conditional HTTP requests.

Doing such a sequence is one possible solution (but not necessarily the most efficient one, as discussed in the store atomicity document).

They are both about event-loop and thread safety actually. Even single-threaded Node.js apps do not guarantee order of execution in presence of asynchronous operations. Lock

[2019-08-13 08:01] michielbdejong commented on #21
Note that the difference between calling `ResourceStore#getResourceTransaction` and calling `ResourceStore#locks.acquire` is just syntactic sugar. The difference between the two proposals is in releasing the lock.

The downside of using locks is that the depending code will probably expect them to be exclusive, and to ensure that until it releases the lock, it has control over the resource, i.e. i

[2019-08-13 08:10] michielbdejong commented on #21
least lock-aware), which is not the case for back-ends such as files.

On page 2, I think that's a nice example of where the 'everything is a ResourceStore' philosophy breaks down a little bit. If many of the components in our code get the label 'ResourceStore' on them, and some components have transaction awareness as an essential feature of their function within the code, while others do not, th

[2019-08-13 08:12] RubenVerborgh commented on #21
It's not: they serve entirely different purposes.

`getResourceTransaction` is exposed externally, is designed to work _across_ methods, and moves the locus of control for atomicity to the caller.

Note that there is strictly no `ResourceStore#locks.acquire`; `ResourceStore` does not expose a lock in that scenario. Rather, the exposed interface stays the same. A `ResourceStore` implementation _mig

[2019-08-13 08:13] RubenVerborgh commented on #21
Hence `AtomicResourceStore`.

Indeed, as I wrote in https://github.com/RubenVerborgh/solid-server-architecture/issues/21#issuecomment-520730153.

[2019-08-13 08:17] michielbdejong commented on #21
I would vote for "Approach 1 to conditional requests: transactions", but with optimistic instead of pessimistic locking (so no need for a `release` method). See also https://github.com/inrupt/wac-ldp/issues/46

[2019-08-13 08:21] michielbdejong commented on #21
Note that with optimistic locking, there are two places where a conflict might be detected: at "3. check the conditions" and at "4. if the conditions are satisfied, call the modification method", if the resource was written to since the optimistic lock was acquired. See also the 'check and set' section in https://redis.io/topics/transactions for an example of how Redis supports this nicely.

[2019-08-13 08:24] michielbdejong commented on #21
I guess that even with optimistic watches instead of pessimistic locks, for for instance in-memory watches in a Data Access Object in front of a filesystem, it would be useful to have `release` so that the list of watches doesn't grow as the server keeps running.

[2019-08-13 08:26] michielbdejong commented on #21
Having said that, if you want pessimistic locking, then we'll build it! :)

[2019-08-13 08:33] RubenVerborgh commented on #21
You need it. At some point, you have to indicate that you are done with a lock, optimistic or not.

Could you argue your choice, and specifically counter the severity of the requirements and caveats listed on https://rubenverborgh.github.io/solid-server-architecture/store-atomicity.pdf#page=2 ?

Some of those seem prohibitive.

I don't. But unfortunately, Approach 1 is the only one that does _not_

[2019-08-13 08:47] kjetilk opened #22 "Why not checkAccess?"
Why does the Authorization module not use the `checkAccess` semantics of the acl-check-module? It lead to pretty readable code.

[2019-08-13 08:48] kjetilk opened #23 "The Authorization module needs a reason"
When authorization is not granted, the user needs to know the reason, and so the interface must generate that and be able to report it somehow.

[2019-08-13 08:48] michielbdejong commented on #21
Sorry, hadn't read your Slack remark yet when I wrote the above.

That works for me. Especially since it allows us to keep the whole ETags thing close together and have one instead of two places where conflict can be detected.

[2019-08-13 08:51] michielbdejong commented on #21
Doing it this way is also a nice fit with how `updateResource(ResourceIdentifier, Patch)` is *already* inside the ResourceStore.

[2019-08-13 08:53] kjetilk opened #24 "What modifications are needed for HTTP/2"
It seems to me that all modifications that might be needed to support HTTP/2 would be in the HTTP layer. I just wanted to bring it up, because HTTP/2 will be important when dealing with apps that needs to pull data from many sources, and so I think it is important to support it, and therefore important to have it on the radar. :-)

[2019-08-13 08:53] RubenVerborgh commented on #22
`Authorizer` works on a higher level; it is not necessarily WAC. For instance, we could plug in a component that (arbitrarily) gives me `write` access to all `.txt` files, or that always allows one user but never another (great for testing).

`checkAccess` would probably be used by `AclBasedAuthorizer`. It has a rather specialized signature and requires quite some knowledge to pass in arguments. I

[2019-08-13 08:55] RubenVerborgh commented on #23
Agreed; we probably want to make it throw an error phrase. Will update.

[2019-08-13 08:56] RubenVerborgh commented on #24
I would even reverse that: we should make it so, that all modifications for HTTP/2 remain restricted to the HTTP layer.

[2019-08-13 08:57] RubenVerborgh commented on #21
Thanks for all feedback @michielbdejong, updated main diagram following.

[2019-08-13 09:09] kjetilk opened #25 "ACL cache component"
I think an ACL cache is a very important part of a Solid server, as every request will lead to multiple queries towards it. Now, I understand that ACL is part of the Authorization, and that it is designed to encompass more than ACL, but as far as I can see, it is unclear from the architecture how it will be maintained and interacted with.

If designed as a write-through cache, it seems to need to

[2019-08-13 09:25] kjetilk opened #26 "Input filter and validation"
Where would input filter and validation be plugged in?

I suppose you could add that to the treatment of Representations, but that's very far down the architecture, and if you're going to reject something (e.g. a malformed ACL), then it is a good practice to do it as early as possible to avoid expend unnecessary physical resources.

Also, what properties would it have?

[2019-08-13 09:30] kjetilk opened #27 "Non-user data"
It seems like the current architecture deals with the user's data only, but there is also non-user-data, that is, data that needs to be available to the server that the user should not control, like the quota and the currently used disk space.

We could add this to the ResourceStore too, and use the ACL system to ensure that the user can't control it, but that would in principle be a back door.

I

[2019-08-13 09:33] kjetilk opened #28 "User Admin actions"
The user needs to have a bunch of actions available to them that lies outside of LDP, like forgotten password, delete my pod, move my pod to a different host.

[2019-08-13 09:33] RubenVerborgh commented on #25
This part has not been detailed indeed; here's a sketch of how I'd expect it to work:

`AclCache` has a corresponding `ResourceStore` implementation, which follows a decorator pattern and wraps around the main `ResourceStore`. It informs `AclCache` of all modifications, such that it can invalidate its cache.

[2019-08-13 09:36] kjetilk opened #29 "Pod Provider Admin Actions"
We also need a bunch of actions for Pod Providers that is also outside of LDP, like pod provisioning, quota administration, contact users, delete Pods that doesn't conform to the ToS.

[2019-08-13 09:40] kjetilk commented on #25
Right! I would love to see that in the diagram before the launch of coding :-)

[2019-08-13 09:40] michielbdejong opened #30 "ContainmentAwareResourceStore"
The diagram doesn't explicitly state what e.g. `deleteResource` should do in practice, but the method name suggests its task is to delete the resource identified by the ResourceIdentifier.

That means that if we want to use that method in the LdpDeleteOperation to implement the LDP DELETE verb, then we also need to call `modifyResource` to remove a containment triple from the LDP-BC of which the r

[2019-08-13 09:41] RubenVerborgh commented on #26
It's probably something we need to break down in several cases:
1. validating whether an entire received representation is correct (`PUT`, `POST`)
2. validating whether a patch document makes sense (`PATCH`)
3. validating whether a document makes sense _after_ a patch has been applied

For 1, there's the question of whether a server should accept a syntactically invalid document or not. (There are

[2019-08-13 09:43] RubenVerborgh commented on #27
The current diagram provides an overview of "Overview of LDP and Access Control". It indeed does not yet detail non-LDP resources.

These would likely just be a different `HttpHandler`.
Or they might indeed be a kind of (read-only) `ResourceStore` as well.

[2019-08-13 09:44] kjetilk opened #31 "Registering triggers for notifications"
And then, I'd like to see where and how we register triggers for notifications going out.

[2019-08-13 09:47] RubenVerborgh commented on #28
Similar answer as #27: there is indeed no diagram detailing this yet.
These would be a different `HttpHandler`.

Additional diagrams might indeed be useful. But I would only draw them if necessary; we can also draft through TypeScript interfaces if there are no major decisions to be taken.

The intention of this repository was not necessarily to be complete, but rather to shed light on difficult/c

[2019-08-13 09:48] RubenVerborgh commented on #29
Idem as #28; not sure if sufficiently complex that these warrant a diagram.

[2019-08-13 09:48] RubenVerborgh commented on #25
We can definitely make a zoomed-in diagram for that part.

[2019-08-13 09:52] RubenVerborgh commented on #31
Yes; would also be a diagram separate from LDP.

But do we actually have the necessary mechanisms figured out? So not architecturally, but spec-level?

[2019-08-13 09:56] RubenVerborgh commented on #30
Correct.

No, it would be the store's responsibility to handle this. The reason for this is that it is up to the back-end to determine how containment triples are generated. They might be explicitly materialized (in which case the store would need to do the deletion) or indirectly (such as in the filesystem, where they are derived from a file listing, and hence happen automatically).

So it's a ma

[2019-08-13 10:03] kjetilk commented on #26
Indeed, there is a very large space here, but I think we need to have this very early. For 1, it is not just syntactic validity, but also if we want to accept stuff that doesn't conform with a shape, it is spam fighting techniques, we might also end up interfacing with YouTube's upload filter :-(

Certain parts of that problem space may need to be shared with 2 and 3 too.

And, we could end up wit

[2019-08-13 10:08] kjetilk commented on #31
Hmmm, good question. Intuitively, I guess, there is LDN, Websockets, WebSub, but perhaps it is not sufficiently clear. @csarven?

[2019-08-13 20:32] RubenVerborgh commented on #21
Added in 0e1cc120c8ea0da754a7a649cef7aaa4f2f27273 to https://rubenverborgh.github.io/solid-server-architecture/solid-architecture-v1-2-0.pdf

[2019-08-13 20:33] #21 closed, assigned to nobody

[2019-08-13 20:37] #23 closed, assigned to RubenVerborgh

[2019-08-13 20:39] #22 closed, assigned to RubenVerborgh

[2019-08-14 08:01] michielbdejong commented on #30
OK, so IIUC, all ResourceStores (or at least all the ones we will use) are containment aware?

[2019-08-14 08:09] michielbdejong commented on #30
I think that can lead to some complicated concurrency issues in the CompositeResourceStore. getResource('/foo/') is easy: the CompositeResourceStore just does getResource('/foo/') on all its sources, and merges the result. For setResource('/foo/bar'), if the container '/foo/' exists in all sources, then the CompositeResourceStore looks at the content-type or similar to determine in which of its so

[2019-08-14 08:13] michielbdejong commented on #30
I guess the question of how a CompositeResourceStore would deal with containment triples in a thread-safe way is a complex one that we don't need to answer.

All we need in the short term is the NSS-compatible (filesystem-based) ResourceStore, and my original question in this issue has been answered, so great! We can open a separate issue about thread-safe CompositeResourceStore if we want to, but

[2019-08-14 08:13] #30 closed, assigned to RubenVerborgh

[2019-08-14 08:25] RubenVerborgh commented on #30
Exactly.

And the good news is that `CompositeResourceStore` does not _need_ to (but _could_) do that locking itself. Just wrap it with `LockingResourceStore`, and it becomes thread-safe.

Indeed, they don't _need_ to. They can if they want. And if they don't, we provide it for them.

Not _all_ of them need to be.
They are edge cases, but there might be stores that only support a limited number of

[2019-08-14 11:14] #25 closed, assigned to nobody

[2019-08-14 12:06] RubenVerborgh commented on #26
Also see https://github.com/solid/data-interoperability-panel/issues/1

[2019-08-15 07:43] kjetilk commented on #29
Getting nearer, I just want to see the quota hooked up in the main diagram, where do you intercept write operations?

[2019-08-15 08:52] RubenVerborgh commented on #29
You actually would not see the connection in the WAC/LDP component diagram, because those components only depend on interfaces. They would not know that they are hooked up to a quota-aware store or not (which is a good thing, of course).

A deployment diagram might show it.

How it works is that an `Operation` is constructed using a `ResourceStore` (by the `OperationFactory`, which in turn gets it

[2019-08-15 09:28] csarven commented on #31
Can you expand? Is there some context that I should know of? What are the categories or boundaries?

Arbitrary examples:

* Any/Some/One HTTP request
* Transformation from x to y
* Resources' permissions change
* Account created/deleted
* {... virtually anything}

(I presume that a config.activities.json can always allow one to pre-register triggers)

The closest mechanism that I can think of is a

[2019-08-15 10:22] kjetilk commented on #29
OK, allright. I think this would have been a lot clearer with a traits based architecture... :-)

[2019-08-15 10:29] kjetilk commented on #31
No, you're much better at that than I am, @csarven :-)

It is just that Solid needs to notify other parties, and so, the question is how that should make it into the general architecture. Especially if it has important architectural consequences for the immediate issue we are discussing. So, I don't have much context, it is an open field we need to cover.

[2019-08-15 11:03] csarven commented on #31
We need to agree on the kind of actor communication. *Very generally*, here is what's possible and what Solid addresses.

[x] server-client
[ ] server-server
[ ] client-client

So, for example, without the notion of server-server communication, a class of use cases can't be addressed. It is one of the reasons why https://github.com/solid/node-solid-server/issues/621 can't be tackled or need to be

[2019-08-15 11:05] RubenVerborgh commented on #31
There's actually a third kind of actor, namely _agents_ in the ecosystem.

I could have an agent monitoring my inbox and take actions.
That agent might run on the client, server, or even somewhere else.

The only thing needed on the server would be a mechanism to ping the agent when something new arrives, but that can happen in a multitude of ways, some of which are even not notification-specific.

[2019-08-20 19:20] acoburn commented on #24
In my experience, Ruben's assertion is exactly correct. That is also how it works in Trellis: the HTTP server/container layer handles all HTTP/2 protocol interactions while the application layer is entirely insulated from all of those details.

[2019-09-03 11:51] michielbdejong opened #32 "How does LdpHandler tell Authorizer which ResourceStore to use?"
In the current diagram it looks like the instantiation bootstrap should be:
[code]
But then how can the ldpHandler instantiate an Authorizer that uses the same resourceStore as operationFactory?

Should we do:
[code]
instead? Or maybe:
[code]

[2019-09-03 11:58] RubenVerborgh commented on #32
The last option you wrote is the one 👍 The handler should indeed not instantiate objects; it should not have the knowledge of how to do so.

The code will indeed contain classes (factories), whose sole job is to instantiate others. And the good thing is that such classes could (in time) be fully replaced with configuration. So we could write a JSON(-LD) file explaining which stores to instantiate,

[2019-09-03 12:56] michielbdejong commented on #32
ok, will update `+ LdpHandler(OperationFactory)` to `+ LdpHandler(OperationFactory, Authorizer)`.

[2019-09-03 12:56] #32 closed, assigned to nobody

[2019-09-03 13:00] RubenVerborgh commented on #32
In general, there will be more constructor parameters than are displayed in the constructor call (cfr. https://github.com/RubenVerborgh/solid-server-ts/blob/1af325bbce3838c818eef0bd8b45955b548e9c67/src/http/ResourceStoreRequestHandler.ts#L31-L39).

I'd suggest to make the constructor argument a hash that can contain multiple parameters. Everything with an aggregation arrow in the diagram will typi

[2019-09-03 13:57] michielbdejong opened #33 "HttpHandler#handle should return a Promise"
+ handle(HttpRequest, HttpResponse) : void

should probably be:

+ handle(HttpRequest, HttpResponse) : Promise<void>

So the server can know when a request has been handled successfully, and/or catch errors when not.

[2019-09-03 14:09] RubenVerborgh commented on #33
Output would be sent through `HttpResponse`, which probably be a `Writable` (like https://nodejs.org/api/http.html#http_class_http_serverresponse).

`Writable` has an `end` method for signalling completion, and can emit an `error` event when things go wrong.

We could indeed change the contract such that the return value is a `Promise<void>`, but then we probably want to have some decisions regard

[2019-09-03 14:34] michielbdejong commented on #33
i just marked the handle function as async and await it, so that if something goes pear-shaped (e.g. sending the http error response fails), NodeJS logs the error.

[2019-09-03 14:34] #33 closed, assigned to nobody

[2019-09-08 14:14] michielbdejong opened #34 "Where are `Slug` headers handled?"
We want to support [`Slug` headers](https://github.com/solid/solid-spec/search?q=slug&unscoped_q=slug), but `ResourceStore#addResource` doesn't seem to have a clear way of passing that value to it? Should it go into the metadata of the representation somewhere?

[2019-09-08 15:45] RubenVerborgh commented on #34
Agreed, all metadata about the representation belongs in `RepresentationMetadata`.

As per @pmcb55's suggestion, `RepresentationMetadata` has an extension point through the fact that it is exposes an `Array<Quad>`. So by minting a (possibly internal) predicate for `Slug`, you can store such information.

Additionally, a specific direct getter for it could be added.

---

Instead of exposing `raw`,

[2019-09-08 20:21] acoburn commented on #34
This is really important, and one will want to always reference the applicable specification as regards parsing rules for the header. Even though all headers will be strings at the HTTP protocol level, they each may have specific rules regarding their semantic structure.

[Slug headers](https://tools.ietf.org/html/rfc5023#section-9.7.1), in particular, should be understood as percent-encoded strin

[2019-09-08 21:02] RubenVerborgh commented on #34
Indeed, so small note: `RepresentationMetadata` is for metadata belonging to concrete representations, which would only have one content type and a well-defined list of profiles.

Content negotiation happens through a separate `RepresentationPreferences` object (which, so far, has not been detailed yet). I expect that object to require custom implementation due to its complexity, and I have curren

[2019-09-08 21:06] RubenVerborgh commented on #34
Agreed. This is why the diagram also suggests small specific parsers rather than one omniscient parser, such that all these details can be tested at once.

@michielbdejong I anticipate the number of such small parsers to become large. Rather than passing them all directly to `LdpHandler`, we might want to introduce an intermediate object `RequestParser` whose sole job is to coordinate smaller pars

[2019-09-24 07:45] michielbdejong opened #35 "Pluggable persistence backends"
There's a problem we're running into for pluggable backends now, since we switched from BlobTree to IResourceStore. The IResourceStore interface does a lot more than just persisting data, for instance it can parse a sparql-update query, apply it to a json-ld document, and save the result as turtle. That's not something we want to reimplement over and over for every persistence technology out there

[2019-09-24 07:59] RubenVerborgh commented on #35
Very good point, thanks for bringing it up. This is indeed something we want to carefully discuss.

Definitely.

Note that the _parsing_ of the patch is done by specific `BodyParser`s, which are instructed to do so by the `LdpHandler`. This is because `LdpHandler` needs to parse the patch to determine required permissions _before_ sending it to the operation. The operation receives a parsed patch,

[2019-09-24 08:07] michielbdejong commented on #35
Thanks Ruben, your solution is very useful for taking advantage of backends that have some RDF-, image-, or anything- awareness. But in the real world (file systems etc.), the vast majority of persistence system, unfortunately don't speak RDF, image manipulation, etc. yet. So for all of those, what if we just:
1. create a BlobTreeBasedResourceStore, that takes (something like) a BlobTree in its co

[2019-09-24 08:13] RubenVerborgh commented on #35
The architectural pattern is not RDF-specific. See examples at https://rubenverborgh.github.io/solid-server-architecture/solid-architecture-v1-2-0.pdf#page=6 where there is `LineBasedPatch`, `BinaryPatch`, `ImageFilter`. Note in particular that the above `MemorySparqlPatcher` does not assume RDF knowledge; it just receives and returns a file.

Basically, every `ResourceStore` accepts a list of pat

[2019-09-24 08:34] michielbdejong commented on #35
Thanks for pointing that out, I edited the intro to my question to also mention images etc.

[2019-09-24 08:36] michielbdejong commented on #35
My actual question there was the part that starts with "what if we just ...", the part you commented on was just an intro to that.

[2019-09-24 11:11] RubenVerborgh commented on #35
First of all, I currently don't have all materials to properly make the case either way. I would need a detailed architectural diagram with this solution to be able to comment meaningfully. I realize that doing this is quite a burden, but it's unfortunately the only way that I know how to evaluate architectures. So given these limitations on my side, take everything below with a grain of salt.

Re

[2019-09-24 12:08] acoburn commented on #35
This is an excellent issue to raise. I encountered what appears to be a very similar issue when building out the Trellis architecture: I had multiple persistence backends and there was a lot of repetition of code/logic in those implementations.

In a word, this is all about trade-offs. If the common code is put into a higher layer (as was done in Trellis), then it simplifies the implementation of

[2019-09-25 08:44] michielbdejong commented on #35
OK thanks for the detailed answers!

OK, then we stick to `IResourceStore` as the one and only pluggable backend interface, and leave it at that.

I do like @acoburn's suggestion of a sort of 'utils' pattern as a way to reuse code without imposing assumptions. Will also keep that in mind, thanks!

[2019-09-25 08:44] #35 closed, assigned to RubenVerborgh

[2019-10-03 12:55] michielbdejong opened #36 "consider changing requestBody to body"
Moved here from https://github.com/inrupt/solid-server-ts/pull/3#discussion_r327278049

[2019-10-04 11:32] michielbdejong opened #37 "BodyParser produces a ParsedRequestBody, not just any Representation"
A ParsedRequestBody is a Representation with a `requiredPermission` field, see https://github.com/inrupt/solid-server-ts/blob/master/src/http/IParsedRequestBody.ts#L9
So https://github.com/RubenVerborgh/solid-server-architecture/blob/master/solid-architecture-v1-2-0.tex#L124 should read 'ParsedRequestBody' instead of 'Representation'

[2019-10-14 13:49] michielbdejong opened #38 "update fields of Operation interface"
It now says:
[code]

Looking at  https://github.com/RubenVerborgh/solid-server-ts/blob/master/src/http/ResourceStoreRequestHandler.ts#L120-L126, that instead should be:
[code]

[2019-10-14 13:50] michielbdejong commented on #38
cc @jaxoncreed ^ the thing we talked about just now in regards to https://github.com/inrupt/solid-server-ts/issues/35#issuecomment-538376666

[2019-10-14 13:51] RubenVerborgh commented on #38
`parsedBody` should likely be of more specific type; otherwise for its inclusion in addition to `body`.

[2019-10-17 13:34] michielbdejong commented on #38
Is it still correct that `Patch` extends `Representation` as in https://github.com/inrupt/solid-server-ts/blob/master/src/ldp/IPatch.ts#L7? Because I think a sparql-update query is a representation of a patch, but a (parsed) patch object is not, right?

[2019-10-17 14:02] michielbdejong commented on #35
Just discussing this with @jaxoncreed, it may make sense to have an abstract class KeyValueResourceStore, in which there are two abstract methods, get(key) and set(key, value). That would at least be useful to easily build for instance an in-memory resource store and a bunch of other simple ones. But I'll leave that discussion to you to have directly.

[2019-10-17 16:04] RubenVerborgh commented on #35
Yes, that’s in there: `KeyValueStore` on page 4.

[2019-10-17 20:44] RubenVerborgh commented on #38
`Patch` could either extend `Representation` or point to the representation. Access to the underlying body, even within a parsed object, remains important because some back-ends will need the original text. Take a `application/sparql-update` body: we need to parse it to determine required permissions, but if that back-end is (for instance) a SPARQL endpoint, it will take the original body rather t

[2019-10-21 17:54] jaxoncreed commented on #38
Okay. I'll make it extend Representation then.

[2020-04-07 07:29] rubensworks opened #39 "Coupling to HTTP"
This is an issue to make sure that we keep in mind that this server could be extended to support non-HTTP protocols, such as IPFS.
As far as I can see, the LdpHandler is the only component that has a link to the HTTP layer.
So architecturally, I think we're good, unless I'm missing something.

Implementation-wise, it will be important that this LDP-HTTP link goes through some kind of dependency in

[2020-04-07 07:46] rubensworks opened #40 "Feedback on HTTP layer"
This issue summarizes some thoughts I had on the HTTP layer:

* I assume that  `HttpHandler#canHandle()` is there to enable multiple implementations to coexists in a bus-like system?
* Are there any real use cases for having more than one `HttpServer` per `HttpHandler`? If this is not a typical use case, I would only allow one `HttpServer` per `HttpHandler` for simplicity (e.g. regarding cloning o

[2020-04-07 07:50] rubensworks opened #41 "Feedback on LDP layer"
This issue summarizes some thoughts I had on the LDP layer:

* The components in `LdpHandler`, such as `TargetExtractor`, `BodyParser`, ...
  Should these become interfaces, so that (in a bus-like system) people can provide different implementations for them?
* It's not clear to me what the `TargetExtractor` will do exactly, can a description for this be added?

[2020-04-07 07:54] rubensworks opened #42 "Feedback on Quota layer"
Currently, the Quota layer is a bit vague to me.
Will this touch other layers to block certain operations under certain conditions?

We should also keep in mind the extensibility of this layer. For example, next to storage quota it should (at least architecturally) be possible to add support for restricting the number of R/W operations, track CPU usage, ...
Just making sure things are generic enou

[2020-04-07 21:35] RubenVerborgh commented on #39
Good point; I have indeed minimized the dependency on HTTP to the extent I saw possible. The main driver was there to have a layered system, and specifically to go against the hard-to-test HTTP-handler-driven implementation of node-solid-server.

Concretely, changes would remain limited to:
- The `HTTP`, which would be replaced.
- The extractors/parsers/writers in the `LDP` and `Authentication` pa

[2020-04-07 21:48] RubenVerborgh commented on #40
Yeah, there could be different handlers for static assets, query, etc. This diagram only covers the LDP part, and how that would fit in a larger architecture.

No, is this implied anywhere? I didn't put an explicit 1; the intention was to say that a server has multiple handlers.

Because the handler is not responsible for creating the response; the server is. The handler just adds stuff to it.

Ye

[2020-04-07 21:57] RubenVerborgh commented on #41
Yeah, absolutely. I just didn't want to go in that much detail in the diagram at that place. Page 2 details that `ResourceIdentifier` is also an interface, for instance.

And actually, all parsers/extractors should be aggregated components by a single `RequestParser` interface, such that `LdpHandler` only has one dependency instead of the whole bunch. The orchestration of the subparts belongs in `

[2020-04-07 21:59] RubenVerborgh commented on #42
So the Quota diagram was introduced as a test to see what the impact would be on the architecture of invasive features, such as pod quota management. The idea is that pods (or folders within pods, of the files from a certain app) should remain within a certain size.

For sure; the idea is rather to show that this feature is possible without deep changes to the base architecture.

[2020-04-08 06:39] rubensworks commented on #39
Ok, perfect!

No, just making sure it was thought of, which it has.
So feel free to close.

[2020-04-08 06:41] rubensworks commented on #40
Ah, nvm, I misinterpreted the `*` position in UML.

I agree with all the other comments above.

[2020-04-08 06:50] rubensworks commented on #42
Ok, having it as an impact test makes.

I would've expected to see some kind of bus (in the ResourceStore) at architecture-level that the Quota system could hook into, and listen+intercept resource actions. Such a bus sytem may be required for other systems as well, so we may want to consider including this somewhere in the architecture.

[2020-04-10 22:07] RubenVerborgh commented on #42
Instead of a bus, the current architecture opts for a decorator pattern.

What would be the differences/advantages of a bus?
I think it offers more flexibility (and thus complexity) than we need.

[2020-04-10 22:08] #40 closed, assigned to nobody

[2020-04-10 22:08] #39 closed, assigned to nobody

[2020-04-14 07:04] rubensworks commented on #42
I wasn't aware of the decorator usage, that sounds perfect to me!
If a bus-like system would still be needed in some cases, it should be possible to implement it as a special type of decorator.

[2020-04-14 07:04] #42 closed, assigned to nobody

[2020-04-15 11:59] RubenVerborgh commented on #39
The separation has been made more clear with an `HTTP` subpackage within `LDP`: https://rubenverborgh.github.io/solid-server-architecture/solid-architecture-v1-3-0.pdf

[2020-04-15 12:10] RubenVerborgh commented on #14
This has now happened in 9e68331473c5e9f79281098ad97c9ad95e3c1e5c, following @jaxoncreed's design.

[2020-04-15 12:10] #14 closed, assigned to RubenVerborgh

[2020-04-15 12:10] RubenVerborgh commented on #15
Happened in 0d33cdab8dd0d681ac031e1371ecd7bb8796ed80.

[2020-04-15 12:10] #15 closed, assigned to RubenVerborgh

[2020-04-15 12:13] RubenVerborgh commented on #38
Done in 3439fc93e8b31a9371d3b629c6fe989f49603cd4.

[2020-04-15 12:13] #38 closed, assigned to nobody

[2020-04-15 12:52] RubenVerborgh commented on #16
Resolving this for now; can be reopened if new concerns arrive.

[2020-04-15 12:52] #16 closed, assigned to RubenVerborgh

[2020-04-15 12:53] RubenVerborgh commented on #17
Resolving this for now; can be reopened if new concerns arrive.

[2020-04-15 12:54] #17 closed, assigned to RubenVerborgh

[2020-04-15 12:55] RubenVerborgh commented on #18
Resolving this for now; can be reopened if new concerns arrive.

[2020-04-15 12:55] #18 closed, assigned to RubenVerborgh

[2020-04-15 12:56] RubenVerborgh commented on #19
Resolving this for now; can be reopened if new concerns arrive.

[2020-04-15 12:56] #19 closed, assigned to RubenVerborgh

[2020-04-15 12:58] RubenVerborgh commented on #20
This is now implemented via a handler mechanism in 9e68331473c5e9f79281098ad97c9ad95e3c1e5c.

[2020-04-15 12:58] #20 closed, assigned to RubenVerborgh

[2020-04-15 14:37] RubenVerborgh commented on #24
Resolving this for now; can be reopened if new concerns arrive.

[2020-04-15 14:37] #24 closed, assigned to nobody

[2020-04-15 14:38] RubenVerborgh commented on #27
Resolving this for now as the scope is LDP+ACL.

[2020-04-15 14:38] #27 closed, assigned to nobody

[2020-04-15 14:38] RubenVerborgh commented on #28
Resolving this for now as the scope is LDP+ACL.

[2020-04-15 14:38] #28 closed, assigned to nobody

[2020-04-15 14:38] RubenVerborgh commented on #29
Resolving this for now as the scope is LDP+ACL.

[2020-04-15 14:38] #29 closed, assigned to nobody

[2020-04-15 14:38] RubenVerborgh commented on #31
Resolving this for now as the scope is LDP+ACL.

[2020-04-15 14:38] #31 closed, assigned to nobody

[2020-04-15 14:39] RubenVerborgh commented on #34
Resolving this for now; can be reopened if new concerns arrive.

[2020-04-15 14:39] #34 closed, assigned to RubenVerborgh

[2020-04-15 14:40] RubenVerborgh commented on #26
Resolving this for now as the scope is current LDP+ACL, which does not yet cover validation. Can be reopened the moment it does.

[2020-04-15 14:40] #26 closed, assigned to nobody

[2020-04-15 14:40] RubenVerborgh commented on #41
Resolving this for now, as I think it's just a matter of level of detail.

[2020-04-15 14:41] RubenVerborgh commented on #37
Resolved with 0d33cdab8dd0d681ac031e1371ecd7bb8796ed80.

[2020-04-15 14:41] #37 closed, assigned to nobody

[2020-04-15 14:42] #36 closed, assigned to nobody

[2020-04-15 14:43] #41 closed, assigned to nobody

[2020-12-09 07:46] chrisSCM opened #43 "Visualization"
Can you provide either an image or short instructions how to make an image from the tex file? Probably a dumb question ;-) but would be nice to have.

[2020-12-09 10:51] RubenVerborgh commented on #43
A PDF is at https://rubenverborgh.github.io/solid-server-architecture/solid-architecture-v1-3-0.pdf following the steps at https://github.com/RubenVerborgh/solid-server-architecture/blob/master/.travis.yml, which is what you need to run locally as well.

[2020-12-09 10:51] #43 closed, assigned to nobody

[2020-12-09 11:07] chrisSCM commented on #43
Thank you!